<!-- Главная страница с описанием того, что изучаем -->
<!-- Этим кодом расширяем base.html и заполняем блоки информацией -->
{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <form action="/questionnaire" method = 'GET'>
        <fieldset>
            <legend>Опрос носителей русского языка о прагматике употребления лексемы <i>зачастую</i></legend>
        <p class="text-muted">Здравствуйте!<br>Мы изучаем <b>стилистический статус русской лексемы <i>зачастую</i></b>
            и хотим проверить, является ли эта языковая единица <b>лексическим маркером интеллигентской речи</b>
            (наряду, например, с оценочными и модальными словами <i>жаль</i>, <i>несомненно</i>, <i>весьма</i>,
            <i>непременно</i> и др. (Л. П. Крысин. Современный русский интеллигент: попытка речевого портрета //
            <i>Русский язык в научном освещении 1(1)</i>, 2001. С. 98)).<br>Пожалуйста, пройдите этот небольшой опрос,
            Вы очень поможете нашему исследованию!<br>Указанные вами данные будут использованы только для статистики,
            все ответы анонимны и конфиденциальны.</p>
        <br>
        <div class="alert alert-success" role="alert">
            Я согласен(-на) на обработку персональных данных!
        </div>
        <input type="radio" name="ask" value="yes" checked>Да<br><br>
        <p><input class="btn btn-outline-primary" type="submit" value="Отправить"></p>
        </fieldset>
    </form><br><br><br>
    <p><a href="/questionnaire">Опрос</a></p>
    <p><a href="/">Инструкция</a></p>
{% endblock %}
