<!-- Главная страница с описанием того, что изучаем -->
<!-- Этим кодом расширяем base.html и заполняем блоки информацией -->
{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
    <form action="/questionnaire" method = 'GET'>
        <fieldset>
            <legend><b>Опрос носителей русского языка о прагматике употребления лексемы <i>зачастую</i></b></legend>
        <p>Здравствуйте! Мы изучаем стилистический статус русской лексемы <i>зачастую</i> и хотим проверить,
            является ли эта языковая единица лексическим маркером интеллигентской речи (наряду, например, с оценочными
            и модальными словами <i>жаль</i>, <i>несомненно</i>, <i>весьма</i>, <i>непременно</i> и др. (Л. П. Крысин.
            Современный русский интеллигент: попытка речевого портрета // <i>Русский язык в научном освещении 1(1)</i>,
            2001. С. 98)).</p>
        <p>Пожалуйста, пройдите этот небольшой опрос, Вы очень поможете нашему исследованию!</p>
        <p>Указанные вами данные будут использованы только для статистики, все ответы анонимны и конфиденциальны.</p>
        <br>Я согласен(-на) на обработку персональных данных<br>
        <br><input type="radio" name="ask" value="yes" checked>Да<br>
        <p><input type="submit" value="Отправить"></p>
        </fieldset>
    </form>
    <p><a href="/questionnaire">Опрос</a></p>
    <p><a href="/">Инструкция</a></p>
{% endblock %}
